#ignore documents/files
/MODS/
/FSD/.vs/
/FSD/Binaries/
/FSD/Build/
/FSD/Config/
/FSD/DerivedDataCache/
/FSD/DRGModdingAutomationScripts/
/FSD/Intermediate
/FSD/Plugins
/FSD/Saved/
/FSD/Script/
/FSD/Source/
/FSD/FSD.png
/FSD/FSD.sln
/FSD/FSD.uproject
/FSD/README.md
/FSD/Content/AI/
/FSD/Content/Art/
/FSD/Content/Audio/
/FSD/Content/Character/
/FSD/Content/CharacterStructure/
/FSD/Content/Cinematics/
/FSD/Content/Collections/
/FSD/Content/Critters/
/FSD/Content/Developers/
/FSD/Content/DRGLib/
/FSD/Content/Enemies/
/FSD/Content/Game/
/FSD/Content/GameElements/
/FSD/Content/Landscape/
/FSD/Content/LevelElements/
/FSD/Content/Maps/
/FSD/Content/Movies/
/FSD/Content/Particles/
/FSD/Content/PersonalFolders/
/FSD/Content/UI/
/FSD/Content/WeaponsNTools/
/FSD/Content/_EditorBPs/
/FSD/Content/_MapDumper/
/FSD/Content/_ModHub/
